.container-fluid {
    background-color: #282828;
    height: 1100px;
}

.login__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #121212;
    height: 890px;
    width: 700px;
    margin-left: 600px;
    margin-top:20px;
    /* margin-bottom: 20px; */
    border-radius: 8px;
}

input{
    padding: 10px;
    border: none;
    border: 1px solid white;
    background-color: #121212;
    border-radius: 4px;
    width: 400px;
}

.image_title{
    img{
        height: 50px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 20px;
}

.login__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
        background-color: transparent;
        color: white;
        height: 50px;
        width: 400px;
        border-radius: 60px;
        border: 1px solid white !important;
    }
}

button{
    margin-top: 20px;
    background-color: #1ED760;
    height: 50px;
    width: 400px;
    border-radius: 60px;
    border: 0px;
    span{
        font-size: 1rem;
        font-weight: 700;
    }
}

button:hover{
    cursor: pointer;
    width: 410px;
    span{
        font-size: 1.10rem;
    }
}

.form-check-input {
    position: relative;
    width: 60px;
    height: 34px;
    -webkit-appearance: none;
    /* background-color: #1ED760; */
    outline: none;
    cursor: pointer;
    border-radius: 34px;
    /* transition: background-color 0.3s s; */
}

.form-check-input:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}

.form-check-input:checked:before {
    transform: translateX(26px);
}

.form-check-input:focus {
    box-shadow: 0 0 1px 2px #f8f8f8;
}

.form-check-input:not(:checked) {
    background-color: #000000 !important;
}

.form-check-input:not(:checked):before {
    background-color: #555555; /* Circle color when unchecked */
}
